.time-entry {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.time-entry.hourly {
    background-color: var(--bs-purple-bg-subtle);
}

.time-entry.performance {
    background-color: var(--bs-gray-700);
    color: var(--bs-light);
}

.time-entry.performance .text-muted {
    color: var(--bs-gray-300) !important;
}

.chart-controls {
    margin-bottom: 1rem;
}
